<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="postDao">

	 <resultMap type="Post" id="post">
		<result column="POST_CODE" property="post_code"/>
		<result column="POST_TITLE" property="post_title"/>
		<result column="POST_CTX" property="post_ctx"/>
		<result column="POST_CTX2" property="post_ctx2"/>
		<result column="POST_REGDATE" property="post_regdate"/>
		<result column="POST_VIEW" property="post_view"/>
		<result column="POST_PRO" property="post_pro"/>
		<result column="POST_ETC" property="post_etc"/>
		<result column="POST_NAME" property="post_name"/>
	</resultMap>
	
		<!--업무일지 목록  -->
			<select id="PostList" resultType="Post">
				
				select * from
					(select rownum as rn, a.* from 
							(select POST_CODE as post_code
								,USER_NAME as user_name
								,POST_TITLE as post_title
								,POST_CTX as post_ctx
								,POST_CTX2 as post_ctx2
								,POST_REGDATE as post_regdate
								,POST_VIEW as post_view 		 
							FROM POST
							where USER_NAME like '%'||#{keyword}||'%'
							or POST_TITLE like '%'||#{keyword}||'%'
				
							ORDER BY POST_CODE DESC
							
							) a )
		   		 where rn between #{start} and #{end}
			
			</select>

		<!--업무 일지 작성  -->
			<insert id="PostInsert" parameterType="Post" useGeneratedKeys="true" keyProperty="post_code">
				<selectKey keyProperty="post_code" resultType="int" order="BEFORE">
					select post_code_seq.nextval from dual
				</selectKey>
				
				insert into post(
					post_code
					,post_title
					,post_ctx
					,post_ctx2
					,post_regdate
					,post_view
					,post_pro
					,post_etc
					,user_name
				)values(
					#{post_code}
					,#{post_title}
					,#{post_ctx}
					,#{post_ctx2}
					,sysdate
					,#{post_view}
					,#{post_pro}
					,#{post_etc}
					,#{user_name}
				)
			</insert>
		<!--첨부파일 추가  -->
			 <insert id="FileInsert" parameterType="hashMap">
				INSERT INTO PS_FILE(
					FILE_NO,
					POST_CODE,
					ORG_FILE_NAME,
					STORED_FILE_NAME,
					FILE_SIZE
				)VALUES(
					FILE_NO_SEQ.NEXTVAL,
					#{POST_CODE},
					#{ORG_FILE_NAME},
					#{STORED_FILE_NAME},
					#{FILE_SIZE}
				)
		    </insert>
    
   		 <!-- 첨부파일 조회 -->
			<select id="selectFileList" parameterType="int" resultType="hashMap">
				SELECT FILE_NO,
					   ORG_FILE_NAME,
					   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE,
				  	   DEL_GB
				  FROM PS_FILE
				 WHERE POST_CODE = #{POST_CODE}
				   	AND DEL_GB = 'N'
			     ORDER BY FILE_NO ASC
			</select>
			
		
		
		<!-- 첨부파일 다운 -->
			<select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
				SELECT 
					STORED_FILE_NAME,
					ORG_FILE_NAME
				FROM PS_FILE
				WHERE FILE_NO = #{FILE_NO}
			</select>
			
		
		<!--첨부파일 수정  -->	
			<update id="updateFile" parameterType="hashMap">
		    	UPDATE PS_FILE SET
		    	DEL_GB = 'Y'
		    	WHERE FILE_NO = #{FILE_NO}
    		</update>
		
		<!--상세  -->
			<select id="PostView" parameterType="int" resultType="Post">
			    select 
			    	post_code
			       ,post_title
				   ,post_ctx
				   ,post_ctx2
				   ,post_regdate
				   ,post_view
				   ,post_pro
				   ,post_etc
				   ,user_name	
				 from POST
				 where 
				 post_code = #{post_code}  
			</select>
	
		<!--조회수가 증가  -->
			<update id="PostViewCount" parameterType="int">
				update post set post_view=post_view+1 where post_code=#{post_code}
		
			</update>
	
		<!--업무일지 수정 -->
			<update id="PostUpdate">
				update post set 
					post_title = #{post_title}
					,user_name = #{user_name}
					,post_regdate = #{post_regdate}
					,post_ctx = #{post_ctx}
					,post_ctx2 = #{post_ctx2}
					,post_pro = #{post_pro}
					,post_etc = #{post_etc}
					
					where 
						post_code = #{post_code}
			</update>
	
		<!--업무일지 삭제  -->
			<delete id="PostDelete">
				delete from post 
				where post_code = #{post_code}
			
			
			</delete>	
			
		<!-- list total -->
			<select id="ListTotal"  parameterType="Post"  resultType="int">
				select count(*) 
				from post 					
				where  USER_NAME like '%'||#{keyword}||'%'
					or POST_TITLE like '%'||#{keyword}||'%'
			
			<!-- <if test='searchType.equals("post_title")'>
				where post_title like concat('%' , #{keyword}, '%')
			</if> -->
			
			</select>
	
	
	
	
</mapper>