<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="replyDao">

		<resultMap type="Reply" id="reply">
		
		<result column="REPLY_CODE" property="replyCode"/>
		<result column="BOARD_CODE" property="boardCode"/>
		<result column="REPLY_CTX" property="replyCtx"/>
		<result column="REPLY_WRITER" property="replyWriter"/>
		<result column="REPLY_REGDATE" property="replyRegdate"/>
		<result column="reparent" property="reparent"/>
		<result column="deep" property="deep"/>
		</resultMap>

		<!--댓글 목록  -->
		
			<select id="ReadReply" resultType="Reply">
				select REPLY_CODE as replyCode ,
					   BOARD_CODE as boardCode,
					   LPAD(' ㄴ> ',4*(LEVEL-1)) || REPLY_CTX as replyCtx, 
        			   REPLY_WRITER as replyWriter,
        			   REPLY_REGDATE as replyRegdate,
        			   deep as deep,
        			   reparent as reparent
   				 FROM (select * from reply where board_code=#{boardCode})
    			 START WITH REPARENT is not null 
    			 CONNECT BY PRIOR REPLY_CODE=REPARENT
				
			
			</select>

		<!--댓글 작성  -->
			<insert id="WriteReply" parameterType="Reply">
				INSERT INTO REPLY(
							REPLY_CODE,
							BOARD_CODE,
							REPLY_CTX,
							REPLY_WRITER,
							REPLY_REGDATE
					) VALUES (
							REPLY_CODE_SEQ.NEXTVAL,
							#{boardCode},
							#{replyCtx},
							#{replyWriter},
							sysdate
					)
			
			
			</insert>
			
			<!--선택한 댓글 조회  -->
				<select id="SelectReply" resultType="Reply">
						SELECT 
							REPLY_CODE as replyCode,
							BOARD_CODE as boardCode,
							REPLY_CTX as replyCtx,
							REPLY_WRITER as replyWriter,
							REPLY_REGDATE as replyRegdate
						FROM REPLY 
						WHERE REPLY_CODE = #{replyCode}
				</select>		
			
			
			
			
			<!--댓글 수정  -->
				<update id="UpdateReply" parameterType="Reply">
						UPDATE REPLY 
						SET REPLY_CTX = #{replyCtx} 
						WHERE REPLY_CODE = #{replyCode}
				
				</update>
				
				
			<!--댓글 삭제  -->	
				<delete id="DeleteReply" parameterType="Reply">
						DELETE 
						FROM REPLY
						WHERE REPLY_CODE = #{replyCode}
				</delete>
			
			<!--대댓글  -->
			<insert id="reparentReply" parameterType="Reply">
					insert into reply(
							reply_code,
							board_code,
							reply_ctx,
							reply_writer,
							reply_regdate,
							delete_at,
							reparent,
							deep
							)values(
							REPLY_CODE_SEQ.NEXTVAL,
							#{boardCode},
							#{replyCtx},
							#{replyWriter},
							sysdate,
							'n',
							#{replyCode},
							#{deep})
					
			</insert>

</mapper>